<div class="hero">
  <p class="large brandon">Alana is live</p>
  <p class="small brandon">
  Yoga-inspired activewear made with love and in partnership with women abuse survivors.<br> 
Help us share our mission and story.</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>