<div class="hero">
  <p class="large brandon">Alana is live</p>
  <p class="small brandon">
Yoga pants made with love in partnership with women abuse survivors.<br> 
Help Alana Athletica share their amazing story</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>